.nav {
    position: absolute;
    left: 24px;
    top: 32px;
    display: flex;
    gap: 11px;
}

.nav .menuBtn {
    background-color: transparent;
    border: none;
}

.nav .logo {
  font-size: 30px;
  font-weight: 900;
  color: var(--main-color);
}