.price_grid {
  width: 397px;
}

.price_grid h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.55px;
  text-align: left;
  color: #6e7491;
  margin-bottom: 16px;
}

.price_grid table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e9e8fc;
}

.price_grid table,
.price_grid td,
.price_grid th {
  border: 1px solid #e9e8fc;
}

.price_grid td,
.price_grid th {
  padding: 10px 14px;
}

.price_grid th,
.price_grid tr td:first-child {
  font-size: 12px;
  font-weight: 700;
  line-height: 16.37px;
  text-align: center;
  color: #000;
}

.price_grid td {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: center;
  color: #6e7491;
}

.price_chart,
.price_rate {
  margin-top: 40px;
}

.price_chart h4,
.price_rate h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.55px;
  color: #6e7491;
  margin-bottom: 16px;
}

.price_rate h4 span {
  background-color: #5cd6c0;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  border-radius: 4px;
  color: #fff;
  padding: 2px 8px;
}

.price_rate p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  color: #6e7491;
}

.price_rate p:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  color: #a1b0cc;
  margin-top: 15px;
}
