:root {
  --main-color: #605dec;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 10px 40px;
}

.loader-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-datepicker {
  border: none !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border: none !important;
}

.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #fff !important;
  color: #000 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover,
.react-datepicker__day--range-start {
  background-color: var(--main-color) !important;
  color: white !important;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 50% !important;
  transform: translateY(-50%);
  color: #6e7491 !important;
}

.react-datepicker__navigation--previous {
  left: -50px !important;
}

.react-datepicker__navigation--next {
  right: -50px !important;
}

.react-datepicker__current-month {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 19.1px !important;
}
