.offer_bar {
  background-color: var(--main-color);
  width: 100%;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  position: relative;
}

.offer_bar .close_btn {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width:991px) {
  .offer_bar {
    padding: 16px 50px;
      min-height: auto;
      line-height: 20px;
  }
}