.filter {
    margin-top: 50px;
}

.filter_form {
    display: flex;
}

.place_field label,
.place_field select,
button.date,
button.passenger_num,
button.search {
    color: #7C8DB0;
    font-size: 18px;
    font-weight: 400;
}

.place_field {
    border: 1px solid #CBD4E6;
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place_field:first-child {
    border-radius: 4px 0 0 4px;
}

.place_field select {
    border: none;
    padding: 10px 20px 10px 10px;
    width: 265px;
}

.place_field select::before {
    content: "";
}

.place_field select:focus-visible {
    outline: none;
}

button.date,
button.passenger_num {
    border: 1px solid #CBD4E6;
    background-color: #fff;
    padding: 0 10px;
    min-width: 200px;
    text-align: left;
}

button.date span,
button.passenger_num span {
    margin-left: 10px;
}

button.search {
    border: 1px solid #CBD4E6;
    background-color: var(--main-color);
    padding: 15px 20px;
    color: #fff;
    border-radius: 4px;
}