.btn {
    color: #fff;
    border-radius: 4px;
    background-color: var(--main-color);
    padding: 11.5px 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    border: none;
    cursor: pointer;
}